<form accept-charset="UTF-8" action="/users/sign_in" class="simple_form form-horizontal" id="new_user" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="DcgQvYuwMtGVTiYuwl+NvUZyYTpg3894DA1uGWZMglc=" /></div>

    <div class="form-inputs">

   <legend>Login</legend>

     <div class="control-group email required"><label class="email required control-label" for="user_email"><abbr title="required">*</abbr> Email</label><div class="controls"><input class="string email required span4" id="user_email" name="user[email]" size="50" type="email" /><p class="help-block">add your email here</p></div></div>
  
  <div class="control-group password required"><label class="password required control-label" for="user_password"><abbr title="required">*</abbr> Password</label><div class="controls"><input class="password required span4" id="user_password" name="user[password]" size="50" type="password" /><p class="help-block">add your password here</p></div></div>

 <div class="form-actions">
      <input class="btn" name="commit" type="submit" value="     Login     " />
 </div>
 </div>
</form>