<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
   
    <p>Thanks for using  Gypsy, your message has been sent successfully.</p>
    <p>If you want search again
      <a class="btn btn-primary btn-small" href="/users/dashboard?search<%= @search %>">Click Here &raquo;</a></p>
  </div>

  <!-- Example row of columns -->

  <hr/>
</div>